#form_submit{
  display:block;
  margin:0 auto;
  margin-top:10px;
}

#para2{
  padding-top:10px;
  font-style:inherit;
  font-size:medium;
  padding-left:15px;
}

button#butrvw.btn.btn-default{
  display:block;
  margin:0 auto;
}

button#butrvw1.btn.btn-danger{
  display:block;
  margin:0 auto;
}

p#offerspara{
  padding-top:75px;
}

img#oo{
  display:block;
  margin:0 auto;
}

img#oo2{
  display:block;
  margin:0 auto;
}

img#oo3{
  display:block;
  margin:0 auto;
}

select#sel1.form-control{
  margin-top:40px;
}

select#sel2.form-control{
  margin-top:10px;
}

input#sel3.form-control{
  margin-top:10px;
}

input#sel4.form-control{
  margin-top:10px;
}

input#sel5.form-control{
  margin-top:10px;
}

#topsearch{
}

#ss{
}

button#aa.btn.btn-default.dropdown-toggle{
  background-color:rgb(230,23,23);
}

button.btn.btn-default{
}

a#kola.btn.btn-primary{
  background-color:#4267b2;
}

nav.navbar.navbar-default{
  font-family: 'Bree Serif';
}

h1.text-center{
  font-family:'Alfa Slab One';
}

div.container{
  font-family:'Bree Serif';
}

h3{
  font-family:'Bree Serif';
}

p{
  font-family:'Bree Serif';
}

h1#aa.text-center{
  font-family:'Bree Serif';
}


.gallery-title
{
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #42B32F;
  margin-bottom: 30px;

}
.filter-button:hover
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
  background-color: #42B32F;
  color: white;
}

.port-image
{
  width: 100%;
}

.gallery_product
{
  margin-bottom: 30px;
}
