.dropdown.dropdown-lg .dropdown-menu{
  margin-top:-1px;
  padding:6px 20px;
}

.input-group-btn .btn-group{
  display:flex !important;
}

.btn-group .btn{
  border-radius:0;
  margin-left:-1px;
}

.btn-group .btn:last-child{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

.btn-group .form-horizontal .btn[type="submit"]{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.form-horizontal .form-group{
  margin-left:0;
  margin-right:0;
}

.form-group .form-control:last-child{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

@media screen and (min-width: 768px) {
  #adv-search{
    width:500px;
    margin:0 auto;
  }
}

@media screen and (min-width: 768px) {
  .dropdown.dropdown-lg{
    position:static !important;
  }
}

@media screen and (min-width: 768px) {
  .dropdown.dropdown-lg .dropdown-menu{
    min-width:500px;
  }
}

